.loader {
  border: 4px solid rgb(10, 60, 224);
  border-top: 8px solid #74a2e7;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin .8s linear infinite;
  margin: auto;
  margin-top: 1rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}