.loader {
  border: 1px solid rgb(8, 175, 235);
  border-top: 1px solid #b00b0b;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  animation: spin .8s linear infinite;
  margin: auto;
  margin-top: 1rem;
  background: transparent;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
  0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}