@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

body,
html {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background: rgb(219, 224, 230);
  font-style: normal;
  font-weight: 400;
}



.main-articles {
  width: 60%;
  margin: 0 auto;
}

.article-card {
  width: 100%;
  color: #777;
  background: rgb(255, 255, 255);
  padding-bottom: 1rem;
  margin: .6rem;
  padding: 2rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: .4rem;

  a {
    text-decoration: none;
    color: #777777;

  }

  .article-list-title,
  h3 {
    font-size: .8rem;
    color: #979ea5;
  }

  .article-author {
    font-weight: 700;
    color: #444546;
    padding: 1rem;
    margin: .6rem 0;
  }
}

.single-article {
  width: 60%;
  margin: 1rem auto;
  padding: 1rem .6rem;
  background: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: .4rem;

  .article-lead {
    display: flex;
    margin-bottom: .5rem;
    color: #565252;
    justify-content: space-evenly;
  }

  .article-title {
    font-size: .5rem;
    text-transform: uppercase;
    font-weight: 700;
  }

  .article-topic {
    font-size: .4rem;
    font-weight: 700;
    text-transform: uppercase;
    align-self: center;
    background: #648db7;
    border: none;
    padding: .2rem .3rem;
    border-radius: .8rem;
    color: #ffffff;
    outline: none;
  }

  .article-body {
    font-size: .7rem;
    line-height: 1.2rem;
    text-align: justify;
    padding: .1rem 1rem;
    color: #404043;
    margin-bottom: 2rem;
  }

  .article-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: .2rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

.comments-list {
  h3 {
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 200;
  }
  .comment-list {
    display: flex;
    flex-direction: column;

    li {
      list-style: none;
    }


    .comment-card {
      display: flex;
      flex-direction: column;
      background: #f5f8f992;
      margin-bottom: 1rem;
      padding: 2rem;
      border-radius: .2rem;
    }

    .comment-stats {
      display: flex;
      font-weight: bold;
      color: #2a89e9;

      p {
        margin-right: .3rem;
        font-weight: 700;
        font-size: .4rem;
        text-align: justify;
        text-transform: uppercase;
      }
    }

    .comment-body {
      font-size: .6rem;
      font-weight: 200;
      text-align: left;
      margin-top: 0.2rem;
      color: #141415;
    }
  }
}

.comment-form {
  display: block;
  
  padding: 2rem;
}